@import "tailwindcss";

.btn {
    @apply text-white font-bold px-4 py-2 rounded cursor-pointer;
}

.btn-blue{
    @apply bg-blue-500 hover:bg-blue-700
}
.btn-green{
    @apply bg-green-500 hover:bg-green-700
}
.btn-red{
    @apply bg-red-500 hover:bg-red-700
}
.btn-gray{
    @apply bg-gray-500 hover:bg-gray-700
}